<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-del-projecto-equipo70/blob/main/RetoFinal/Entrega2/Reto_Entrega2_Clasificaci%C3%B3nEnsamblesYPresentaci%C3%B3nEjecutiva.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Instituto Tecnológico y de Estudios Superiores de Monterrey**

**Maestría en Inteligencia Artificial Aplicada**

# Reto -> Entrega 2 (18/11): Clasificación-ensambles y presentación ejecutiva.



---



---

Datos generales

---

Reto -> Entrega 2 (18/11): Clasificación-ensambles y presentación ejecutiva.

---

* Nombres del equipo 70:
  * Javier Pérez Sanagustín
  * Herbert Joadan Romero Villarreal

* Matrículas:
  * A01794233
  * A01794199

* Materia: Ciencia y analítica de datos (Gpo 10)

* Profesor titular: María de la Paz Rico Fernández

Profesor tutor: Bernardo Charles Canales

Fecha: 15 de noviembre del 2022

## Clasificación


---

Se eligió y se realizó la limpieza en la base de datos de:
* Aguas subterraneas.

In [20]:
# Importamos la librería Pandas y el dataframe limpio de la entrega anterior
import pandas as pd

url_sub = 'https://raw.githubusercontent.com/PosgradoMNA/actividades-del-projecto-equipo70/main/RetoFinal/DB/df_clean_sub.csv'
df_sub = pd.read_csv(url_sub,encoding='cp1252')
df_sub.drop('Unnamed: 0', inplace=True, axis=1)
df_sub.sample(3) # Observamos una muestra aleatoria de nuestros datos

,CLAVE,SITIO,ORGANISMO_DE_CUENCA,ESTADO,MUNICIPIO,ACUIFERO,SUBTIPO,LONGITUD,LATITUD,ALC_mg/L,...,CUMPLE_CON_DUR,CUMPLE_CON_CF,CUMPLE_CON_NO3,CUMPLE_CON_AS,CUMPLE_CON_CD,CUMPLE_CON_CR,CUMPLE_CON_HG,CUMPLE_CON_PB,CUMPLE_CON_MN,CUMPLE_CON_FE
460,DLCHI297,VALLE DE JUAREZ 2,RIO BRAVO,CHIHUAHUA,GUADALUPE,VALLE DE JUAREZ,POZO,-106.11205,31.34143,204.765,...,SI,SI,SI,SI,SI,SI,SI,SI,SI,SI
550,DLDUR761,POZO LEONA VICARIO,CUENCAS CENTRALES DEL NORTE,DURANGO,SAN JUAN DEL RIO,SAN JUAN DEL RIO,POZO,-104.49400,24.69971,466.470,...,SI,SI,SI,SI,SI,SI,SI,SI,SI,SI
136,DLMIC1681,TIRINDARO,LERMA SANTIAGO PACIFICO,MICHOACAN DE OCAMPO,ZACAPU,ZACAPU,POZO,-101.74463,19.76757,90.000,...,SI,SI,SI,SI,SI,SI,SI,SI,SI,SI

Selecciona tus variables independientes X y dependiente Y (semáforo).

In [21]:
df_sub_w = df_sub.copy()
df_sub_w.columns

Index(['CLAVE', 'SITIO', 'ORGANISMO_DE_CUENCA', 'ESTADO', 'MUNICIPIO',
       'ACUIFERO', 'SUBTIPO', 'LONGITUD', 'LATITUD', 'ALC_mg/L', 'CALIDAD_ALC',
       'CONDUCT_mS/cm', 'CALIDAD_CONDUC', 'SDT_M_mg/L', 'CALIDAD_SDT_salin',
       'FLUORUROS_mg/L', 'CALIDAD_FLUO', 'DUR_mg/L', 'CALIDAD_DUR',
       'COLI_FEC_NMP/100_mL', 'CALIDAD_COLI_FEC', 'N_NO3_mg/L',
       'CALIDAD_N_NO3', 'AS_TOT_mg/L', 'CALIDAD_AS', 'CD_TOT_mg/L',
       'CALIDAD_CD', 'CR_TOT_mg/L', 'CALIDAD_CR', 'HG_TOT_mg/L', 'CALIDAD_HG',
       'PB_TOT_mg/L', 'CALIDAD_PB', 'MN_TOT_mg/L', 'CALIDAD_MN', 'FE_TOT_mg/L',
       'CALIDAD_FE', 'SEMAFORO', 'CUMPLE_CON_ALC', 'CUMPLE_CON_COND',
       'CUMPLE_CON_SDT_salin', 'CUMPLE_CON_FLUO', 'CUMPLE_CON_DUR',
       'CUMPLE_CON_CF', 'CUMPLE_CON_NO3', 'CUMPLE_CON_AS', 'CUMPLE_CON_CD',
       'CUMPLE_CON_CR', 'CUMPLE_CON_HG', 'CUMPLE_CON_PB', 'CUMPLE_CON_MN',
       'CUMPLE_CON_FE'],
      dtype='object')

In [22]:
df_sub_w.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1068 entries, 0 to 1067
Data columns (total 52 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   CLAVE                 1068 non-null   object
 1   SITIO                 1068 non-null   object
 2   ORGANISMO_DE_CUENCA   1068 non-null   object
 3   ESTADO                1068 non-null   object
 4   MUNICIPIO             1068 non-null   object
 5   ACUIFERO              1068 non-null   object
 6   SUBTIPO               1068 non-null   object
 7   LONGITUD              1068 non-null   float64
 8   LATITUD               1068 non-null   float64
 9   ALC_mg/L              1068 non-null   float64
 10  CALIDAD_ALC           434 non-null    object
 11  CONDUCT_mS/cm         1068 non-null   float64
 12  CALIDAD_CONDUC        434 non-null    object
 13  SDT_M_mg/L            1068 non-null   float64
 14  CALIDAD_SDT_salin     434 non-null    object
 15  FLUORUROS_mg/L        1068 non-null   float64
 16  CALIDAD_FLUO          434 non-null    object
 17  DUR_mg/L              1068 non-null   float64
 18  CALIDAD_DUR           434 non-null    object
 19  COLI_FEC_NMP/100_mL   1068 non-null   float64
 20  CALIDAD_COLI_FEC      434 non-null    object
 21  N_NO3_mg/L            1068 non-null   float64
 22  CALIDAD_N_NO3         434 non-null    object
 23  AS_TOT_mg/L           1068 non-null   float64
 24  CALIDAD_AS            434 non-null    object
 25  CD_TOT_mg/L           1068 non-null   float64
 26  CALIDAD_CD            434 non-null    object
 27  CR_TOT_mg/L           1068 non-null   float64
 28  CALIDAD_CR            434 non-null    object
 29  HG_TOT_mg/L           1068 non-null   float64
 30  CALIDAD_HG            434 non-null    object
 31  PB_TOT_mg/L           1068 non-null   float64
 32  CALIDAD_PB            434 non-null    object
 33  MN_TOT_mg/L           1068 non-null   float64
 34  CALIDAD_MN            434 non-null    object
 35  FE_TOT_mg/L           1068 non-null   float64
 36  CALIDAD_FE            434 non-null    object
 37  SEMAFORO              1068 non-null   object
 38  CUMPLE_CON_ALC        1068 non-null   object
 39  CUMPLE_CON_COND       1068 non-null   object
 40  CUMPLE_CON_SDT_salin  1068 non-null   object
 41  CUMPLE_CON_FLUO       1068 non-null   object
 42  CUMPLE_CON_DUR        1068 non-null   object
 43  CUMPLE_CON_CF         1068 non-null   object
 44  CUMPLE_CON_NO3        1068 non-null   object
 45  CUMPLE_CON_AS         1068 non-null   object
 46  CUMPLE_CON_CD         1068 non-null   object
 47  CUMPLE_CON_CR         1068 non-null   object
 48  CUMPLE_CON_HG         1068 non-null   object
 49  CUMPLE_CON_PB         1068 non-null   object
 50  CUMPLE_CON_MN         1068 non-null   object
 51  CUMPLE_CON_FE         1068 non-null   object
dtypes: float64(16), object(36)
memory usage: 434.0+ KB

In [23]:
variable_drop = ['CLAVE','SITIO', 'ORGANISMO_DE_CUENCA', 'ESTADO', 'MUNICIPIO',
                 'ACUIFERO', 'SUBTIPO','CALIDAD_ALC', 'CALIDAD_CONDUC',  'CALIDAD_SDT_salin',
                 'CALIDAD_FLUO', 'CALIDAD_DUR', 'CALIDAD_COLI_FEC', 'CALIDAD_N_NO3',  'CALIDAD_AS', 
                 'CALIDAD_CD', 'CALIDAD_CR', 'CALIDAD_HG', 'CALIDAD_PB',  'CALIDAD_MN', 'CALIDAD_FE' ]

df_sub_w.drop(variable_drop, inplace=True, axis=1)
df_sub_w.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1068 entries, 0 to 1067
Data columns (total 31 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   LONGITUD              1068 non-null   float64
 1   LATITUD               1068 non-null   float64
 2   ALC_mg/L              1068 non-null   float64
 3   CONDUCT_mS/cm         1068 non-null   float64
 4   SDT_M_mg/L            1068 non-null   float64
 5   FLUORUROS_mg/L        1068 non-null   float64
 6   DUR_mg/L              1068 non-null   float64
 7   COLI_FEC_NMP/100_mL   1068 non-null   float64
 8   N_NO3_mg/L            1068 non-null   float64
 9   AS_TOT_mg/L           1068 non-null   float64
 10  CD_TOT_mg/L           1068 non-null   float64
 11  CR_TOT_mg/L           1068 non-null   float64
 12  HG_TOT_mg/L           1068 non-null   float64
 13  PB_TOT_mg/L           1068 non-null   float64
 14  MN_TOT_mg/L           1068 non-null   float64
 15  FE_TOT_mg/L           1068 non-null   float64
 16  SEMAFORO              1068 non-null   object
 17  CUMPLE_CON_ALC        1068 non-null   object
 18  CUMPLE_CON_COND       1068 non-null   object
 19  CUMPLE_CON_SDT_salin  1068 non-null   object
 20  CUMPLE_CON_FLUO       1068 non-null   object
 21  CUMPLE_CON_DUR        1068 non-null   object
 22  CUMPLE_CON_CF         1068 non-null   object
 23  CUMPLE_CON_NO3        1068 non-null   object
 24  CUMPLE_CON_AS         1068 non-null   object
 25  CUMPLE_CON_CD         1068 non-null   object
 26  CUMPLE_CON_CR         1068 non-null   object
 27  CUMPLE_CON_HG         1068 non-null   object
 28  CUMPLE_CON_PB         1068 non-null   object
 29  CUMPLE_CON_MN         1068 non-null   object
 30  CUMPLE_CON_FE         1068 non-null   object
dtypes: float64(16), object(15)
memory usage: 258.8+ KB

In [9]:
df_sub_w['CALIDAD_CONDUC'].unique()

array(['Permisible para riego', 'Buena para riego',
       'Excelente para riego', nan], dtype=object)

X : CUMPLE, NUMERICAS, LONGITUD, LAT.

Y: SEMAFORO.

Cambia a label encoding el semáforo, ej, de ["clase 1", "clase 2", "clase 3"] a [1,2,3].

In [ ]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder

df_cat = ['CUMPLE_CON_ALC', 'CUMPLE_CON_COND', 'CUMPLE_CON_SDT_salin', 'CUMPLE_CON_FLUO', 
          'CUMPLE_CON_DUR', 'CUMPLE_CON_CF', 'CUMPLE_CON_NO3', 'CUMPLE_CON_AS',   
          'CUMPLE_CON_CD', 'CUMPLE_CON_CR', 'CUMPLE_CON_HG', 'CUMPLE_CON_PB',       
          'CUMPLE_CON_MN', 'CUMPLE_CON_FE']

Realiza un análisis general de las features importances a traves de decision trees o random forest.

Selecciona las variables de mayor importancia.

Realiza tu clasificador, recuerda dividir los datos de manera balanceada (auxiliate de train test split).

Explora que clasificador es el más optimo, ejemplo:

  * Decision trees
  * Random Forest.

Determina el grado de exactitud a través del reporte de clasificación y análisis de la gráfica de Precision Recall.

Visualiza los resultados del modelo o las predicciones a través de una matriz de confusión.

Realiza un reporte de los principales hallazgos y conclusiones del experimento e incluyelos en una presentación ejecutiva de 10 diapositivas. La presentación deberá incluir todos los pasos del pipeline seguidos, limpieza, análisis, kmeans, clasificación, resultados y conclusiones.